LUIGI_MAINTAINER_SMTP_HOST=<smtp-host>
LUIGI_MAINTAINER_SMTP_PORT=587
LUIGI_MAINTAINER_SMTP_SSL=0
LUIGI_MAINTAINER_SMTP_USERNAME=<smtp-username>
LUIGI_MAINTAINER_SMTP_PASSWORD=<smtp-password>
LUIGI_MAINTAINER_EMAIL_FROM=notifications@example.invalid
LUIGI_MAINTAINER_EMAIL_TO=operator@example.invalid
LUIGI_MAINTAINER_UI_URL=https://app.example.invalid
